#bg-header {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

#laporan #header {
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    font-weight: bolder;
}

#laporan #judul {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#laporan #tanggal {
    font-family: 'Times New Roman', Times, serif;
}

#laporan p {
    font-family: 'Times New Roman', Times, serif;
}

#laporan table {
    border: 1px solid black;
}

#laporan #ttd {
    width: 300px;
    float: right;
}

footer li {
    list-style: none;
    padding: 2px 0px;
}


footer a {
    color: white;
    font-size: medium;
    text-decoration: none;
}

footer i {
    color: white;
    font-size: medium;
    text-decoration: none;
}

@media print {
    /* Setel ukuran font */
    body {
        font-size: 10pt;
    }

    /* Atur lebar kolom tabel */
    table th,
    table td {
        width: fit-content;
    }

    /* Atur margin dan padding */
    body,
    #laporan {
        margin: 0;
        padding: 0;
    }
}